@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
:root{
  --color-text: #cdc6c3;
  --hover-color: #70efbf;
  --neon-box-shadow: 0 0 .5rem #70efbf;
  --index: calc(1vw + 1vh);
}

::selection{
  color: #fff;
  background:#ae2f9b; 
}
body{
        /* background:linear-gradient(rgba(0, 0, 0, 0.5),#630e7d3c), url(img/background.jpg); */
        height: 100%;
        width: 100%;
        background-color: #450358 ;
        background-size: cover;
        background-position: center;
        position: absolute;
        background-repeat: no-repeat;
 
}

header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.logo{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 600;
  font-size: 22px;
  color: var(--hover-color);
}
.logo img{
  max-width: 100%;
  width: 40px;
  height: auto;
}

header .navlist{
  display: flex;
}

.navlist li{
  margin: 0 1.5rem;
}

.navlist li .nav-item{
  position: relative;
  padding: 17px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: all .2s ease;
}

.navlist li .nav-item:hover{
  color: var(--hover-color);
}

.navlist li .nav-item::before{
  content: "";
  position:absolute ;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background: var(--hover-color);
  border-radius: 50%;
  transition: all .3s ease;
}

.navlist li .nav-item:hover::before{
  width: 100%;
}

.navlist li .active{
  color: var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}

.right-side{
  display: flex;
  align-items: center;
}

.marsbtn{
  background: linear-gradient(180deg , #70efbf 0 ,#21e69a 100%);
  height: 28px;
  line-height: 28px;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all .3s ease;
  white-space: nowrap;
  display: inline-block;
  color: #000;
  align-items: center;
}

.marsbtn:hover{
  background: linear-gradient(180deg , #12bd7b 0 ,#21e69a 100%);
  box-shadow: 0 3px 9px #25b981;
}

#menu-icon{
  color: var(--hover-color);
  font-size: 2.5rem;
  display: none;
}





.select-box, .play-board, .result-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.select-box{
  background: #fff;
  padding: 20px 25px 25px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}
.select-box.hide{
  opacity: 0;
  pointer-events: none;
}
.select-box header{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}
.select-box .title{
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0;
  text-align: center;
}
.select-box .options{
  display: flex;
  width: 100%;
}
.options button{
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  border: none;
  background: linear-gradient( to right,#1daa74,#640e7d); /* لون اختيار اللاعب */
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.options button:hover,
.btn button:hover{
  transform: scale(0.96);
}
.options button.playerX{
  margin-right: 5px;
}
.options button.playerO{
  margin-left: 5px;
}
.select-box .credit{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}
.select-box .credit a{
  color: #640e7d; /* لون الحقوق */
  text-decoration: none;
}
.select-box .credit a:hover{
  text-decoration: underline;
}

.play-board{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.play-board.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.play-board .details{
  padding: 7px;
  border-radius: 5px;
  background: #fff;
}
.play-board .players{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.players span{
  position: relative;
  z-index: 2;
  color: #1daa74; /* O's turn color*/
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: default;
  user-select: none;
  transition: all 0.3 ease;
}
.players.active span:first-child{
  color: #fff;
}
.players.active span:last-child{
  color: #1daa74;
}
.players span:first-child{
  color: #fff;
}
.players .slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient( to right,#1daa74,#640e7d);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.players.active .slider{
  left: 50%;
}
.players.active span:first-child{
  color: #1daa74;
}
.players.active span:nth-child(2){
  color: #fff;
}
.players.active .slider{
  left: 50%;
}
.play-area{
  margin-top: 20px;
}
.play-area section{
  display: flex;
  margin-bottom: 1px;
}
.play-area section span{
  display: block;
  height: 90px;
  width: 90px;
  margin: 2px;
  color: #1daa74; /* X & O Colors */
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
}

.result-box{
  padding: 25px 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  opacity: 0;
  text-align: center;
  background: #fff;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}
.result-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.result-box .won-text{
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.result-box .won-text p{
  font-weight: 600;
  margin: 0 5px;
}
.result-box .btn{
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.btn button{
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  background: #489f7d;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}


@media(max-width:503px){
  .copyRight{
      display: block;
      text-align: center;
  }
  .Quick-menu li {
      margin-top: .1rem;
  }
  
  
  .copyRight p {
      margin-bottom: 1rem;
  }
  .container .flight-box{
      width: 60%;
  }
      .earth-rotate img.earth{
      display:  none;
  }
  .circle-animate{
      width: 150px;
      height: 150px;
      left: 12%;
  }
  body{
    font-family: "outfit",sans-serif;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* overflow: hidden; */
}


}
